* {
    margin: 0px;
    padding: 0px;
}

.contenedor {
    border: 1px solid black;

    width: 100%;
    height: 100svh;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 5px;

}

